html{
	font-size: 16px;
	font-family: 'calibri';
}
body{
	padding: 0;
	margin: 0;
	background-color: #FAFAFA;
}
header{
	width: 100%;
	height: 250px;
	position: relative;
}

header img{
	width: 250px;
	display:block;
	margin:auto;
}

#wrap{
	width: 90%;
	margin: 0 auto;
}

ul,ol{
	list-style: none;
	text-align: center;
}
.slideshow{
	width: 90%;
	position: relative;
	display: block;
}
.slider li, ul{
	width: 100%;
}
.slider li img{
	width: 85%;
	padding-bottom: 10px;
}
.pagination{
	position: absolute;
	top: 80%;
	width: 100%;

	display: flex;
	justify-content: center;
}
.pagination li{
	font-size: 20px;
	margin: 1px 5px;
	color: #F7D358;
	letter-spacing: 10px;
	cursor: pointer;
}
.navegadores {
	margin: 20px;
	display: flex;
	justify-content:center;

}
.navegadores a{
	background-color: #000000;
	color: white;
	display: inline-block;
	line-height: 40px;
	padding: 0 30px;
	text-decoration: none;
	font-weight: bold;
	margin-left: 10px;
	border-radius: 3px;
}

.navegadores a:hover{
	background-color: #424242;
}

/*REGISTRO*/

.container{
	max-width: 800px;
	height: auto;
	background-color:#E6E6E6;
	margin: 5% auto;
	padding-bottom: 1rem; /**/
}

.form_top{
	width: 100%;
	text-align: center;
	padding: 3px;
	margin-bottom: 1rem;  /**/
}

.form_top h2{
	font-weight: bold;
	font-size: 22px;
}

.form_reg{
	padding: 0 10rem;
	display: flex;
	flex-direction: column;
}

.form_reg span {
	width: 25%;
}
.form_reg .input {
	width: 70%;
}

.opciones{
	margin: 1rem;
	display: inline-flex;
	padding: 35px;

}



.btn_form{
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
	cursor: pointer;
}

.input{
	background-color: #FAFAFA;
	border-radius: 7px;
	border: none;
	padding: .5rem;
	margin: .7rem 0;
}

.btn_submit, .btn_reset{
	background-color: #6E6E6E;
	width: 35%;
	color: white;
	border-radius: 7px;
	border: none;
	padding: .5rem;
	cursor: pointer;
}

.btn_submit:hover{
	background-color: #424242;
}

.btn_reset:hover{
	background-color: #424242;
}

.form_link{
	text-align: center;
}




/* LOGIN*/
.login_container{
	background-color:#E6E6E6;
	max-width: 500px;
	height: auto;
	margin: 5% auto;
	padding-bottom: 3rem 0; /**/
}
.login_top{
	text-align: center;
	padding: 3px;
	margin-bottom: 1rem;
}
.login_top h2{
	font-weight: bold;
	font-size: 22px;

}
.login_form{
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	padding: 0 80px;
}

.btn{
	cursor: pointer;
}

input[type=text], [type=password], [type=email]{
	background-color: #FAFAFA;
	border-radius: 7px;
	border: none;
	padding: .5rem;
	margin: .5rem 0;
}

.form_recover{
	color:#ffffff;
	text-decoration: none;
	text-align: center;
	font-size: 15px;
}
.btn{
	background-color: #6E6E6E;
	text-align: center;
	width: 35%;
	color: white;
	border-radius: 7px;
	border: none;
	padding: .5rem;
	margin-left:100px;

}

.error{
	background-color: #6E6E6E;
	text-align: center;
	width: 50%;
	color: white;
	border-radius: 7px;
	border: none;
	padding: .5rem;
	margin-left:100px;

}
.error:hover{
	background-color: #424242;
}

.btn:hover{
	background-color: #424242;
}


/* inicio de perfil*/
.navegacion{
	width: 100%;
	background: #000000;
}
.navegacion nav{
	width: 100%;
}
.boton-menu{
	display: none;
}
.menu{
	list-style: none;
	width: 100%;
	margin-left:0;
	padding:0;
}
.menu li{
	display: inline-block;
}
.menu li a{
	display: block;
	padding: 15px;
	color: #ffffff;
	text-decoration: none;
}
.menu li a:hover{
	background: #FACC2E;

}

/* destacados*/
h3{
	text-align: center;
	font-size: 24px;
}
div.gallery {
	width: 280px;
	margin: 20px;
	display: inline-block;

}

div.gallery:hover {
	border: 1px solid #424242;
}

div.gallery img {
	width: 100%;
	height: auto;
}

div.desc {
	padding: 5px;
	text-align: center;
}

/*perfil*/
.column {
	float: left;
	width:400px;
	height: 650px;
	margin-left: 20px;
	margin-bottom: 20px;
	background-color: #E6E6E6;
}

.perfil img{
	width: 200px;
	height: auto;
	border-radius: 250px;
	margin: auto;
	display: block;
}

h5{
	text-align: center;
	font-size: 22px;
	line-height: 1px;
}

h6{
	line-height: 3px;
	font-size: 15px;
	text-decoration: none;
	text-align: center;
}

.InfoPerfil, .contact{
	text-align: justify;
	font-size: 18px;
	margin: 20px;
}



.clasificacion{
	width: 250px;
	margin: 0 auto;
	height: 50px;
	text-align: center;
}

.clasificacion label {
	font-size: 25px;
}

input[type="radio"] {
	display: none;
}

label {
	color: grey;
}

.clasificacion {
	direction: rtl;
	unicode-bidi: bidi-override;
}

input[type="radio"]:checked ~ label {
	color: orange;
}

.column2{
	float: right;
	width:870px;
	height: 875px;
	margin: 0 20px 0;
	background-color: #E6E6E6;
}

div.photo {
	margin: 10px;
	display: inline-block;
	width: 25%;
	margin-left: 35px;
	margin-right: 35px;

}

div.photo img {
	width: 100%;
	height: auto;
}


.column3 {
	clear: left;
	float: left;
	width:400px;
	height: 205px;
	margin-left: 20px;
	margin-bottom: 20px;
	background-color: #E6E6E6;
}



.zoom{
	text-align: center;
}
.comments-container {
	margin: 60px auto 15px;
	width: 768px;
}

.comments-list {
	margin-top: 40px;
	position: relative;
}

.comments-list:before {
	content: '';
	width: 2px;
	height: 100%;
	background: #A4A4A4;
	position: absolute;
	left: 32px;
	top: 0;
}

.comments-list:after {
	content: '';
	position: absolute;
	background: #A4A4A4;
	bottom: 0;
	left: 27px;
	width: 7px;
	height: 7px;
	border: 3px solid #dee1e3;

}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
	content: '';
	width: 60px;
	height: 2px;
	background: #A4A4A4;
	position: absolute;
	top: 25px;
	left: -55px;
}


.comments-list li {
	margin-bottom: 15px;
	display: block;
	position: relative;
}

.comments-list li:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 0;
}

.reply-list {
	padding-left: 88px;
	clear: both;
	margin-top: 15px;
}

.comments-list .comment-avatar {
	width: 65px;
	height: 65px;
	position: relative;
	z-index: 99;
	float: left;
	border: 3px solid #D8D8D8;
	overflow: hidden;
}

.comments-list .comment-avatar img {
	width: 100%;
	height: 100%;
}

.reply-list .comment-avatar {
	width: 50px;
	height: 50px;
}

.comment-main-level:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	clear: both;
}

.comments-list .comment-box {
	width: 680px;
	float: right;
	position: relative;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	top: 8px;
	left: -11px;
}

.comments-list .comment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent;
	left: -12px;
}

.reply-list .comment-box {
	width: 610px;
}
.comment-box .comment-head {
	background: #F2F2F2;
	padding: 10px 12px;
	border-bottom: 1px solid #D8D8D8;
	overflow: hidden;

}

.comment-box .comment-head i {
	float: right;
	margin-left: 14px;
	position: relative;
	top: 2px;
	color: #000;
	cursor: pointer;
}

.comment-box .comment-name {
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
}

.comment-box .comment-head span {
	float: left;
	color: #000;
	font-size: 13px;
	position: relative;
	top: 1px;
}

.comment-box .comment-content {
	background: #FFF;
	padding: 11px;
	font-size: 15px;
	color: #000;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #000;}
.comment-box .comment-name.by-author:after {
	content: 'autor';
	background: #FACC2E;
	color: #000;
	font-size: 12px;
	padding: 3px 5px;
	margin-left: 10px;
}



.info{
	margin: auto;
	width: 90%;
	max-width: 1000px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}


.header-top{
	background: #FACC2E;
	height: 50px;
	padding:20px 20px 13px;

}

#input-search{

	width: 50%;
	height: 40px;
	font-size: 18px;
	text-indent: 10px;
	border-radius: 10px;
	border: none;
	display: block;
	margin: auto;
}

.columna{
	float: left;
	width: 200px;
	margin: 30px 25px 25px 25px;
	padding-left: 6px;
	padding-right: 5px;
}


.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.contenedor {
	text-align: center;
	background: #E6E6E6;
	padding: 1px;
	height: 170px;
}



.button {
	border: none;
	padding: 5px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
}


/* pie de página*/
footer {
	width:100%;
	height:120px;
	background-color: #151515;
	color: white;
	text-align: center;
	display: inline-block;
	position: static;
}

footer ul{
	list-style: none;
	padding: 20px 0 0;
	margin: 0;
}

footer ul li{
	display: inline-block;
	letter-spacing: 2px;
	font-size: 12px;
}

footer ul li img{
	width: 25px;
	display: block;
	margin: 0 auto;
}

footer .derechos {
	font-size: 12px;
	letter-spacing: 2px;
}



/* responsive*/
@media only screen and (max-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
	.cont-galery{
		margin:0 0;
	}
	.column {
		float: left;
		width: 88%;
		margin-left: 20px;
		margin-bottom: 20px;
		background-color: #E6E6E6;
	}
	.column2 {
		float: left;
		width: 88%;
		margin: auto;
		margin-left: 20px;
		margin-bottom: 20px;
		background-color: #E6E6E6;
	}

	div.photo {
		margin: 10px;
		display: inline-block;
		margin-left: 35px;
		margin-right: 35px;
		width: 75%;
	}
	.form_reg {
		padding: 0 4%;
	}
	.form_reg .input {
		width: 32%;
	}
	.form_reg span {
		width: 32%;
	}
	.zoom{
		text-align: center;
	}
}
@media only screen and (min-device-width: 321px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
	.cont-galery{
		margin:0 12%;
	}
	.column {
		width: 88%;
	}
	.column2 {
		width: 88%;

	}
	div.photo {
		margin: 10px;
		display: inline-block;
		margin-left: 35px;
		margin-right: 35px;
		width: 75%;
	}
	.form_reg {
		padding: 0 4%;
	}
	.form_reg .input {
		width: 92%;
	}
	.form_reg span {
		width: 32%;
	}

}
@media only screen and (min-device-width: 481px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
	.cont-galery{
		margin:0 8%;
	}
	.column {
		width: 40%;
	}
	.column2 {
		width: 53%;
	}
	div.photo {
		margin: 10px;
		display: inline-block;
		width: 32%;
		margin-left: 35px;
		margin-right: 35px;
	}
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
	.cont-galery{
		margin:0 2%;
	}
	.column {
		width: 25%;
	}
	.column2 {
		width: 69%;
	}

}
@media only screen  and (min-device-width: 1025px)and (max-device-width: 1440px) and (-webkit-min-device-pixel-ratio: 2){
	.cont-galery{
		margin:0 16%;

	}

	.rom{
		margin: 0 16%;
	}
}
@media only screen  and (min-device-width: 1441px)and (max-device-width: 2560px) and (-webkit-min-device-pixel-ratio: 2) {
	.cont-galery{
		margin:0 31%;

	}
}