html{
	font-size: 16px;
	font-family: 'calibri'
}
body{
	padding: 0;
	margin: 0;
	background-color: #FAFAFA;
}
header{
	width: 100%;
	height: 250px;
	position: relative;
}

header img{
	width: 250px;
	display:block;
	margin:auto;
}

#wrap{
	width: 90%;
	margin: 0 auto;
}

ul,ol{
	list-style: none;
	text-align: center;
}
.slideshow{
	width: 90%;
	position: relative;
	display: block;
}
.slider li, ul{
	width: 100%;
}
.slider li img{
	width: 85%;
	padding-bottom: 10px;
}
.pagination{
	position: absolute;
	top: 80%;
	width: 100%;

	display: flex;
	justify-content: center;
}
.pagination li{
	font-size: 20px;
	margin: 1px 5px;
	color: #F7D358;
	letter-spacing: 10px;
	cursor: pointer;
}
.navegadores {
	margin: 20px;
	display: flex;
	justify-content:center;

}
.navegadores a{
	background-color: #000000;
	color: white;
	display: inline-block;
	line-height: 40px;
	padding: 0 30px;
	text-decoration: none;
	font-weight: bold;
	margin-left: 10px;
	border-radius: 3px;
}

/*REGISTRO*/
.container{
	max-width: 800px;
	height: auto;
	background-color:#E6E6E6;
	margin: 5% auto;
	padding-bottom: 1rem; /**/
}

.form_top{
	width: 100%;
	text-align: center;
	padding: 3px;
	margin-bottom: 1rem;  /**/
}

.form_top h2{
	font-weight: bold;
	font-size: 22px;
}

.form_reg{
	padding: 0 10rem;
	display: flex;
	flex-direction: column;
}

.opciones{
	margin: 1rem;
	display: flex;
	padding: 1rem auto;

}

.btn_form{
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
}

.input{
	background-color: #FAFAFA;
	border-radius: 7px;
	border: none;
	padding: .5rem;
	margin: .7rem 0;
}

.btn_submit, .btn_reset{
	background-color: #6E6E6E;
	width: 35%;
	color: white;
	border-radius: 7px;
	border: none;
	padding: .5rem;
}

.btn_submit:hover{
	background-color: #424242;
}

.btn_reset:hover{
	background-color: #424242;
}

.form_link{
	text-align: center;
}

/* LOGIN*/
.login_container{
	background-color:#E6E6E6;
	max-width: 500px;
	height: auto;
	margin: 5% auto;
	padding-bottom: 3rem 0; /**/
}
.login_top{
	text-align: center;
	padding: 3px;
	margin-bottom: 1rem;
}
.login_top h2{
	font-weight: bold;
	font-size: 22px;

}
.login_form{
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	padding: 0 80px;
}

input[type=text], [type=password]{
	background-color: #FAFAFA;
	border-radius: 7px;
	border: none;
	font-weight: bold;
	padding: .5rem;
	margin: .5rem 0;
}

.form_recover{
	color:#ffffff;
	text-decoration: none;
	text-align: center;
	font-size: 15px;
}




/* slider*/
.navegacion{
	width: 100%;
	background: #000000;
}
.navegacion nav{
	width: 90%;
}
.boton-menu{
	display: none;
}
.menu{
	list-style: none;
	width: 100%;
}
.menu li{
	display: inline-block;
}
.menu li a{
	display: block;
	padding: 15px;
	color: #ffffff;
	text-decoration: none;
}
.menu li a:hover{
	background: #FACC2E;
}







/* pie de página*/
footer {
	width:100%;
	height:120px;
	background-color: #151515;
	color: white;
	text-align: center;
}

footer ul{
	list-style: none;
	padding: 20px 0 0;
	margin: 0;
}

footer ul li{
	display: inline-block;
	letter-spacing: 2px;
	font-size: 12px;
}

footer ul li img{
	width: 25px;
	display: block;
	margin: 0 auto;
}

footer .derechos {
	font-size: 12px;
	letter-spacing: 2px;
}
